/*table {
  width: 250px;
  empty-cells: show;
  table-layout: fixed;
}

table, th, td {
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}*/

/*td {
  text-align: center;
  vertical-align: middle;
  width: 50px;
}*/

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: solid;
  border-width: thin;
  text-align: center;
  height: 50px;
  width: 50px;
}

body {
  font-family: "Verdana", Geneva, sans-serif;
}

button {
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}

div {
  position: relative;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}